<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings configProtectionProvider="DataProtectionConfigurationProvider">
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAq2yisxqrtkeKBxya6hZtjAQAAAACAAAAAAAQZgAAAAEAACAAAACVH3iTJGK8lN4K2YZifG7pOawUmdxcHTaBLDTcAhgTFwAAAAAOgAAAAAIAACAAAAB0+lcXQUWhFGHNTPS2R5XfvwNyhJadMjy6/6k4xnOYmsAAAACQF/Jlet+v7gEH5/wvCstLnSMElUs+m/9AFvQVwvksX25NPO3nLtC1r/6XQqdvpUVffeamd3AzCGA3MUsG3D07hvKuoKghZvkbbIrC/9+Fxg2M7uGa1WTW3FvOQW615LCEVKZkgpfyhlfwAf7IyqK230Hk2qiSVWKfGo92JoAu48XNXITfTdd+KM1puVg5CnYHIztUfRxVWPOhhE6OwfJLq78q6NTp145SvbBUwT1h9bNf1FdTED2AcPfXDOFz2hVAAAAAaJzIMT6ztZajtgPLs8fZUytX3J7gmxizAt+pZOfOs72UzMFlyYghF80/BScGoWtixgikgnBKSLNHF3YpynBqwg==</CipherValue>
      </CipherData>
    </EncryptedData>
  </appSettings>  
</configuration>
